In [1]:
import pymongo

In [6]:
new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['data_test']
new_col = new_db['students']

new_dict = {"name": "Sabri", "code": "code10"}

adding = new_col.insert_one(new_dict)
print(adding)

<pymongo.results.InsertOneResult object at 0x000001259E5725F0>

In [21]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017')

new_db = new_client['new_data']

new_col = new_db['students']

list_of_students = [
    {"_id": 1, "name": "Sabri1", "code": "code101"},
    {"_id": 2, "name": "Sabri2", "code": "code102"},
    {"_id": 3, "name": "Sabri3", "code": "code103"},
    {"_id": 4, "name": "Sabri4", "code": "code104"},
    {"_id": 5, "name": "Sabri5", "code": "code105"},
]

adding_many = new_col.insert_many(list_of_students)

In [11]:
print(adding_many.inserted_ids)

[ObjectId('63cd40c3a8f5745ff0f6dc6b'), ObjectId('63cd40c3a8f5745ff0f6dc6c'), ObjectId('63cd40c3a8f5745ff0f6dc6d'), ObjectId('63cd40c3a8f5745ff0f6dc6e'), ObjectId('63cd40c3a8f5745ff0f6dc6f')]

In [13]:
finding = new_col.find_one()
print(finding)

{'_id': 1, 'name': 'Sabri1', 'code': 'code101'}

In [14]:
for docu in new_col.find():
    print(docu)

{'_id': 1, 'name': 'Sabri1', 'code': 'code101'}
{'_id': 2, 'name': 'Sabri2', 'code': 'code102'}
{'_id': 3, 'name': 'Sabri3', 'code': 'code103'}
{'_id': 4, 'name': 'Sabri4', 'code': 'code104'}
{'_id': 5, 'name': 'Sabri5', 'code': 'code105'}

In [32]:
import pymongo 

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['students']

new_query = {"code": "code102"} # {"code": {"$gt": "code"}} pour toutes les lignes qui commencent par "code"

new_doc = new_col.find(new_query)

for x in new_doc:
    print(x)

{'_id': 2, 'name': 'Sabri2', 'code': 'code102'}

In [33]:
new_query = new_col.find().sort("code") # sort("code", -1) pour desc 

for i in new_query:
    print(i)

{'_id': 2, 'name': 'Sabri2', 'code': 'code102'}
{'_id': 3, 'name': 'Sabri3', 'code': 'code103'}
{'_id': 4, 'name': 'Sabri4', 'code': 'code104'}
{'_id': 5, 'name': 'Sabri5', 'code': 'code105'}

In [34]:
new_query = {"code": "code102"}

new_col.delete_one(new_query)

for x in new_col.find():
    print(x)

{'_id': 3, 'name': 'Sabri3', 'code': 'code103'}
{'_id': 4, 'name': 'Sabri4', 'code': 'code104'}
{'_id': 5, 'name': 'Sabri5', 'code': 'code105'}

In [36]:
new_q = {"code": {"$regex": "^code105"}}

x = new_col.delete_many(new_q)

print(x.deleted_count, "documents deleted from the collection!")

1 documents deleted from the collection!

In [38]:
remove_all = new_col.delete_many({})

print(remove_all.deleted_count, "documents deleted from the collection!")

0 documents deleted from the collection!

In [39]:
new_col.drop()

In [44]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017')

new_db = new_client['new_data']

new_col = new_db['students']

list_of_students = [
    {"_id": 7, "name": "Sabri1", "code": "code101"},
    {"_id": 8, "name": "Sabri2", "code": "code102"},
    {"_id": 9, "name": "Sabri3", "code": "code103"},
    {"_id": 10, "name": "Sabri4", "code": "code104"},
    {"_id": 11, "name": "Sabri5", "code": "code105"},
]

adding_many = new_col.insert_many(list_of_students)

In [46]:
new_q = {"code": "code101"}
new_vals = {"$set": {"code": "codezero"}}

new_col.update_one(new_q, new_vals)

for i in new_col.find():
    print(i)

{'_id': 1, 'name': 'Sabri1', 'code': 'codezero'}
{'_id': 2, 'name': 'Sabri2', 'code': 'code102'}
{'_id': 3, 'name': 'Sabri3', 'code': 'code103'}
{'_id': 4, 'name': 'Sabri4', 'code': 'code104'}
{'_id': 5, 'name': 'Sabri5', 'code': 'code105'}
{'_id': 7, 'name': 'Sabri1', 'code': 'codezero'}
{'_id': 8, 'name': 'Sabri2', 'code': 'code102'}
{'_id': 9, 'name': 'Sabri3', 'code': 'code103'}
{'_id': 10, 'name': 'Sabri4', 'code': 'code104'}
{'_id': 11, 'name': 'Sabri5', 'code': 'code105'}

In [47]:
result_filter = new_col.find().limit(3)

for x in result_filter: 
    print(x)

{'_id': 1, 'name': 'Sabri1', 'code': 'codezero'}
{'_id': 2, 'name': 'Sabri2', 'code': 'code102'}
{'_id': 3, 'name': 'Sabri3', 'code': 'code103'}