In [ ]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
print(new_db)

Creating A Database

In [ ]:
new_cursor = new_db.cursor()

#Create a new data base
new_cursor.execute("CREATE DATABASE newdata")

In [ ]:
new_cursor.execute("SHOW DATABASES")
for n in new_cursor:
    print(n)

In [ ]:
new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

Creating Tables and Showing Data

In [19]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

List all tables in newdata

In [22]:
new_cursor.execute("SHOW TABLES")
for x in new_cursor:
    print(x)

('students',)

Add PRIMARY KEY if when creating table

In [1]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE clients  (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

Add PRIMARY KEY if table already exists

In [3]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [4]:
new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = ("Sabri", "CODE12")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "new record inserted")

1 new record inserted

Inserting many records into tables

In [11]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = [
    ("Frank", "CODE30"),
    ("Rayane", "CODE10"),
    ("Yanis", "CODE15"),
    ("Lucas", "CODE55")
]

new_cursor.executemany(new_sql, new_vals)

new_db.commit()
print(new_cursor.rowcount, "new record inserted")

4 new record inserted

Select table's data

In [12]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Sabri', 'CODE12', 1)
('Frank', 'CODE30', 6)
('Rayane', 'CODE10', 7)
('Yanis', 'CODE15', 8)
('Lucas', 'CODE55', 9)
('Frank', 'CODE30', 10)
('Rayane', 'CODE10', 11)
('Yanis', 'CODE15', 12)
('Lucas', 'CODE55', 13)
('Frank', 'CODE30', 14)
('Rayane', 'CODE10', 15)
('Yanis', 'CODE15', 16)
('Lucas', 'CODE55', 17)
('Frank', 'CODE30', 18)
('Rayane', 'CODE10', 19)
('Yanis', 'CODE15', 20)
('Lucas', 'CODE55', 21)
('Frank', 'CODE30', 22)
('Rayane', 'CODE10', 23)
('Yanis', 'CODE15', 24)
('Lucas', 'CODE55', 25)

Select data from columns

In [13]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT name, code FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Sabri', 'CODE12')
('Frank', 'CODE30')
('Rayane', 'CODE10')
('Yanis', 'CODE15')
('Lucas', 'CODE55')
('Frank', 'CODE30')
('Rayane', 'CODE10')
('Yanis', 'CODE15')
('Lucas', 'CODE55')
('Frank', 'CODE30')
('Rayane', 'CODE10')
('Yanis', 'CODE15')
('Lucas', 'CODE55')
('Frank', 'CODE30')
('Rayane', 'CODE10')
('Yanis', 'CODE15')
('Lucas', 'CODE55')
('Frank', 'CODE30')
('Rayane', 'CODE10')
('Yanis', 'CODE15')
('Lucas', 'CODE55')

Fetch the first row

In [18]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchone()

print(new_data)

('Sabri', 'CODE12', 1)

Filter the result

In [21]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students WHERE name = 'Yanis'")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Yanis', 'CODE15', 8)
('Yanis', 'CODE15', 12)
('Yanis', 'CODE15', 16)
('Yanis', 'CODE15', 20)
('Yanis', 'CODE15', 24)

In [23]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students WHERE name LIKE '%Ya%'")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Rayane', 'CODE10', 7)
('Yanis', 'CODE15', 8)
('Rayane', 'CODE10', 11)
('Yanis', 'CODE15', 12)
('Rayane', 'CODE10', 15)
('Yanis', 'CODE15', 16)
('Rayane', 'CODE10', 19)
('Yanis', 'CODE15', 20)
('Rayane', 'CODE10', 23)
('Yanis', 'CODE15', 24)

In [36]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students ORDER BY name") #ORDER BY code DESC

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Lucas', 'CODE55', 9)
('Lucas', 'CODE55', 13)
('Lucas', 'CODE55', 17)
('Lucas', 'CODE55', 21)
('Lucas', 'CODE55', 25)
('Rayane', 'CODE10', 7)
('Rayane', 'CODE10', 11)
('Rayane', 'CODE10', 15)
('Rayane', 'CODE10', 19)
('Rayane', 'CODE10', 23)
('Sabri', 'CODE07', 1)

In [29]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_sql = "DELETE FROM students WHERE name = %s" #ORDER BY code DESC
name = ("Frank",)

new_cursor.execute(new_sql, name)
new_db.commit()

print(new_cursor.rowcount, "records deleted from students from newdata")

0 records deleted from students from newdata

Deleting table

In [32]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_sql = "DROP TABLE IF EXISTS clients" #ORDER BY code DESC

new_cursor.execute(new_sql)
new_db.commit()

Updating table

In [35]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_sql = "UPDATE students SET code = %s WHERE code = %s" 
new_vals = ("CODE12", "CODE07")
new_cursor.execute(new_sql, new_vals)
new_db.commit()

print(new_cursor.rowcount, "records changed in students table!")

0 records changed in students table!

Limit the record

In [37]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students LIMIT 4") #ORDER BY code DESC

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Sabri', 'CODE07', 1)
('Rayane', 'CODE10', 7)
('Lucas', 'CODE55', 9)
('Rayane', 'CODE10', 11)

In [ ]:
import mysql.connector 

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)
new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students LIMIT 3 OFFSER 4") #ORDER BY code DESC

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)